.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}

.login-page-content {
    width: 100%;
    text-align: -webkit-center;
}

.login-card {
    text-align: left;
    width: fit-content;
}